.canvas {
    margin: 2vh 1rem;
    margin-right: 0rem;
    width: 95%;
    height: 85vh;
    border: solid 1px rgb(223, 221, 221);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.pencil {
    cursor: pointer;
}