<div class="teacher_view_container">

    <div class="teacher_actions">
        <h2 class="graphix">Graphix</h2>
        <div class="teacher_options">
            <div class="teacher_option" [routerLink] = "'/whiteboard'">
                <mat-icon svgIcon = "whiteboard"></mat-icon> Start a new whiteboard
            </div>
            <div class="teacher_option">
                <mat-icon svgIcon = "whiteboard"></mat-icon> My whiteboards
            </div>
            <div class="teacher_option">
                <mat-icon svgIcon = "whiteboard"></mat-icon> Manage groups
            </div>
        </div>
    </div>

    <div class="teacher_view">
        <h2>Recent whiteboards</h2>
    </div>
</div>