.container {
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    padding-top: 20px;
    grid-template-columns: 40% 60%;

    .canvas_preview {
        width: 100%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        margin: auto;
        margin-bottom: 20px;
    }

    .field_container {
        margin-bottom: 20px;
    }
    
    .flex_row {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .name_field {
        margin-top: 10px;
    }
}
    
.flex_row {
    justify-content: center;
    align-items: center;
    gap: 10px;
}