.sidenavbar {
    width: 16rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dap {
    width: 3rem;
}

.optionsnavbar {
    padding-top: 4.5rem;
    padding-right: 1rem;
}