<div>
    <input type="file" hidden #file (change) = "uploadFile($event)">
    <app-navbar (toggledMenu) = "toggleMenu()"></app-navbar>
    
    <div class="flex_row">
        <app-secondary-navbar (changedEdgeMode) = "openMenu($event)"></app-secondary-navbar>
    
        <mat-sidenav-container [autosize] = "true">
            <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenavbar">
                <app-sidenav [defaultSelectedIndex] = "selectedNavbarIndex"></app-sidenav>
            </mat-sidenav>
    
            <mat-sidenav-content class="flex_row no_scroll">
                <template #whiteboardcontainer>
                    <!-- <app-canvas-whiteboard></app-canvas-whiteboard> -->
                </template>
            </mat-sidenav-content>
        </mat-sidenav-container>

        <mat-sidenav #drawer mode="side" position = "end" [(opened)]="closed" class="optionsnavbar">
            <app-options-navbar></app-options-navbar>
        </mat-sidenav>
    </div>
    
</div>