::ng-deep .p-sidebar-right {
    top: 14vh !important;
    width: 13rem !important;
    padding: 0px 1rem;
}

::ng-deep .p-sidebar-right .p-sidebar-content {
    height: 100%;
    padding-top: 20px;
}

.flex_row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.add_button {
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgb(15, 176, 146);
    color: white;
    font-size: 10px;
    padding: 5px 10px;
}

.icon_btn {
    font-size: 10px !important;
    cursor: pointer;
}

@keyframes appearence {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-180deg);
    }
}

.transitioned {
    animation: appearence .5s linear;
}

.color_span {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    color: white;
}

.used_colors {
    margin-top: 10px;
}

.selected_color {
    border: solid 2px rgb(209, 209, 209);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.color_icon {
    margin-top: 3px;
}