<p-sidebar class="options_navbar" [(visible)]="display" [autoZIndex]="true" [baseZIndex]="-1" (onHide) = "updateVisibility()" position = "right">
    <ng-template pTemplate = "content">
        <p-tabView>
            <p-tabPanel header="Colors">
                <app-color-chooser></app-color-chooser>
            </p-tabPanel>
            <p-tabPanel header="Shape">
                <app-shape-options></app-shape-options>
            </p-tabPanel>
        </p-tabView>
    </ng-template>
</p-sidebar>