<p-sidebar class="options_navbar" [(visible)]="display" [autoZIndex]="true" [baseZIndex]="-1" (onHide) = "updateVisibility()" position = "right">
    <ng-template pTemplate = "content">
        <div class="flex_row">
            <span>Fill color</span>
            <div>
                <button class="add_button" (click) = "changeFillColor()">Add</button>
                <button *ngIf = "!syncFill" mat-mini-fab class="icon_btn" (click) = "toggleFillSync()"><mat-icon class="transitioned">sync</mat-icon></button>
                <button *ngIf = "syncFill" mat-mini-fab class="icon_btn" (click) = "toggleFillSync()"><mat-icon class="transitioned">sync_disabled</mat-icon></button>
            </div>
        </div>
        <p-colorPicker [(ngModel)]="fillColor" [inline]="true"></p-colorPicker>
        <div class="flex_row">
            <span>Stroke color</span>
            <div>
                <button class="add_button">Add</button>
                <button *ngIf = "!syncStroke" mat-mini-fab class="icon_btn" (click) = "toggleStrokeSync()"><mat-icon class="transitioned">sync</mat-icon></button>
                <button *ngIf = "syncStroke" mat-mini-fab class="icon_btn" (click) = "toggleStrokeSync()"><mat-icon class="transitioned">sync_disabled</mat-icon></button>
            </div>
        </div>
        <p-colorPicker [(ngModel)]="outlineColor" (ngModelChange) = "changeOutlineColor($event)" [inline]="true"></p-colorPicker>
        <span>Recently used</span>
        <div class="used_colors">
            <div *ngFor = "let color of usedColors" class="color_span" [style.background-color] = "color" (click) = "selectColor($event)" [ngClass] = "{'selected_color': selectedColor == color}"></div>
        </div>
    </ng-template>
</p-sidebar>