.scd_navbar {
    width: 3rem;
    height: 92vh;
    background-color: rgb(18, 18, 18);
    border-top: 1px rgba(55, 55, 55, 0.564) solid;
    padding: 0px 10px;
    color: white;
    font-size: 16px;
}

mat-icon {
    cursor: pointer;
    margin-bottom: 10px;
}