<div style="margin-top: 20px;">
    <button mat-raised-button color = "primary" class="option_btn">Circle</button>
    <button mat-raised-button color = "primary" class="option_btn">Rectangle</button>
    <button mat-raised-button color = "primary" class="option_btn">Line</button>
    <button mat-raised-button color = "primary" class="option_btn">Text</button>
    <button mat-raised-button color = "primary" class="option_btn">Undo</button>
    <button mat-raised-button color = "primary" class="option_btn">Erase</button>
    <button mat-raised-button color = "primary" class="option_btn">Clear</button>
</div>

<div id="container"></div>