.navbar {
    background-color: #0e0424;
    padding-bottom: 20px;
}

.icon {
    color: white;
    font-size: 36px;
    margin-left: 20px;
    cursor: pointer;
}

.data {
    min-width: 8vw;
    border: solid 2px rgba(42, 39, 48, 0.8);
    height: 3vh;
    margin-top: 1.1vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #06020f;
    color: white;
}

.username {
    border-right: solid 2px rgba(42, 39, 48, 0.8);
    padding-right: 10px;
    font-size: 12px;
}

.zoom {
    padding-left: 10px;
    font-size: 12px;
    cursor: pointer;
}