<nav class="navbar">
    <div>
        <mat-icon class="menu_icon icon" (click) = "toggleSideNav()">menu</mat-icon>
        <mat-icon class="icon" svgIcon = "export_icon" (click) = "openExportDialog()"></mat-icon>
        <input type = "file" hidden #file (change) = "handleChosenFile($event)">
        <mat-icon class="icon" svgIcon = "import_icon" (click) = "file.click()"></mat-icon>
        <mat-icon class="icon" svgIcon = "add_whiteboard_icon" (click) = "openNewWhiteboard()"></mat-icon>
    </div>
    <div class="data">
        <div class="username">Username</div>
        <div class="zoom">100%</div>
    </div>
    <button mat-raised-button color="accent" (click) = "openLoginForm()">LogIn <mat-icon class="icon" svgIcon = "login"></mat-icon></button>
    <div>
    </div>
</nav>