@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';

body {
    margin: 0px;
}
.flex_row {
    display: flex !important;
    flex-direction: row !important;
}

.no_scroll {
    overflow-x: hidden !important;
}