<p-sidebar [(visible)]="display" [autoZIndex]="true" [baseZIndex]="-1" (onHide) = "updateVisibility()">
    <ng-template pTemplate = "content">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Shapes">
                Content 1
                </p-accordionTab>
                <p-accordionTab header="Arrows">
                Content 2
                </p-accordionTab>
                <p-accordionTab header="Text">
                Content 3    
                </p-accordionTab>
        </p-accordion>
    </ng-template>
</p-sidebar>