<p-accordion [multiple]="true">
    <p-accordionTab header="Shapes">
        <ng-template pTemplate="content">
            <app-sidenav-shapes></app-sidenav-shapes>
        </ng-template>
    </p-accordionTab>
        <p-accordionTab header="Arrows" [selected] = "defaultSelectedIndex === 2">
            <ng-template pTemplate = "content">
                <app-edges-types></app-edges-types>
            </ng-template>
        </p-accordionTab>
    <p-accordionTab header="Text">
        <ng-template pTemplate="content">
            <app-text></app-text>
        </ng-template>  
    </p-accordionTab>
</p-accordion>