.groups_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5vw;
}

.groups_view_container {
    max-height: 92vh;
    overflow-y: auto;
}

.title {
    font-weight: 600;
}

.group_card {
    width: 15vw;
}

.icon_btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.add_student {
    background-color: rgb(13, 82, 128);
}

.delete_group {
    background-color: rgb(225, 32, 32);
}

.card_title {
    font-weight: 600;
    text-align: center;
    font-size: 22px;
}

.group_icon {
    width: 5vw;
    height: auto;
    margin-left: 30%;
}

.add_icon {
    position: relative;
    top: -5px;
    font-weight: 600px;
    color: white;
}

.add_btn {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
}

.card_image {
    width: 70%;
    height: auto;
    object-fit: contain;
    margin-left: 15%;
}