<div class="groups_view_container">
    <h1 class="title">My groups</h1>
    <div class="groups_container">
        <mat-card *ngFor = "let group of newTeacherGroup; let i = index" class="group_card">
            <div>
                <a href="https://www.flaticon.com/free-icons/student"  title="student icons">
                    <img class="card_image" src = "../../../../../assets/images/book.png" alt = "Student icons created by Smashicons - Flaticon">
                </a>
            </div>

            <mat-card-content>
                <mat-form-field class="card_title">
                    <input matInput [(ngModel)] = "group.name" placeholder="Group name">
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align = "end">
                <button mat-mini-fab class="icon_btn" color = "primary" (click) = "saveGroup(group, i)"><mat-icon>save</mat-icon></button>
            </mat-card-actions>
        </mat-card>

        <mat-card *ngFor = "let group of teacherGroups; let i =index" class="group_card">
            <div>
                <a href="https://www.flaticon.com/free-icons/student"  title="student icons">
                    <img class="card_image" src = "../../../../../assets/images/book.png" alt = "Student icons created by Smashicons - Flaticon">
                </a>
            </div>

            <mat-card-content>
                <h3 class="card_title" *ngIf = !editable[i]>{{ group.name }}</h3>
                <mat-form-field *ngIf = "editable[i]" class="card_title">
                    <input matInput [(ngModel)] = "group.name">
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align = "end">
                <button mat-mini-fab class="icon_btn add_student"><mat-icon svgIcon = "add_students"></mat-icon></button>
                <button mat-mini-fab class="icon_btn" color = "primary" (click) = "editGroup(i)"><mat-icon>{{ editable[i] ? 'save' : 'edit' }}</mat-icon></button>
                <button mat-mini-fab class="icon_btn delete_group"><mat-icon>delete_forever</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
    <button mat-fab color = "accent" class="add_btn" (click) = "openGroupForm()">
        <mat-icon class="add_icon" svgIcon = "add_group"></mat-icon>
    </button>
</div>